@defaultSize: 32px;


.blog-input {
    width: 320px;
    font-size: 14px;
}
.input-focus {
    composes: blog-input;
    background: #fff;
}
.input-nonFocus {
    composes: blog-input;
    background: #f6f6f6;
}

.input-wrapper {
    position: relative;
    display: table;
    border-collapse: separate;
    .input-bar {
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        input {
            width: 100%;
            height: @defaultSize;
            padding: 4px 11px;
            background: transparent;
        }
    }
    .input-hasBefore {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }
    .input-hasAfter {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }
    .input-after, .input-before {
        display: table-cell;
        padding: 4px 11px;
        width: 1px;
        background: #f5f7fa;
        color: #909399;
        vertical-align: middle;
        white-space: nowrap;
        border: 1px solid #d9d9d9;
    }
    .input-before {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .input-after {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .input-search {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        width: auto;
        background-color: #1890ff;
        border: 1px solid #40a9ff;
        padding: 0;
        & button {
            padding: 0 20px;
        }
    }
}