.blog-button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    background: none;
    border: 1px solid;
    border-radius: 4px;
    text-align: center;
    outline: 0;
    cursor: pointer;
}

@btnSize: 24px;
@smallSize: 24px;
@defaultSize: 32px;
@largeSize: 40px;


.lineHeight(@height, @border, @isText: false) {
    height: @height;
    & when(@isText) {
        line-height: (@height);
    }
    & when(@isText = false) {
        line-height: (@height - 2 * @border);
    }
}

.small {
    padding: 0 7px;
    @btnSize: @smallSize;
    .lineHeight(@smallSize, 1px);
}
.default {
    @btnSize: @defaultSize;
    padding: 0 15px;
    .lineHeight(@defaultSize, 1px);
}
.large {
    @btnSize: @largeSize;
    font-size: 16px;
    padding: 0 15px;
    .lineHeight(@largeSize, 1px);
}

.primary {
    color: #fff;
    background-color: #40a9ff;
    border-color: #40a9ff;
}

.text {
    border: none;
    padding: 0;
    background: transparent;
    .lineHeight(@btnSize, 1px, true)
}
.blog-button-small-text {
    composes: blog-button small text;
    &:hover {
        color: #8590a6;
    }
}
.blog-button-small-primary {
    composes: blog-button small primary;
}