.blog-header {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
    z-index: 10000;
    height: 52px;
}
.header-inner {
    position: absolute;
    display: flex;
    font-size: 15px;
    align-items: center;
    height: 100%;
    transition: top .3s ease;
}
.header-wrapper {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 52px;
}
.header-main-inner {
    top: 0;
    composes: header-inner
}
.header-second-inner {
    top: 52px;
    composes: header-inner;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    .header-right {
    }
}
.header-main-bar {
    top: -52px;
}
.header-second-bar {
    top: 0px;
}
.header-link {
    padding: 0 15px;
    line-height: 30px;
    color: #8590a6;
    &:hover {
        color: #627290;
    }
}

.header-articles-link {
    composes: header-link;
    padding-left: 28px;
}
.header-tags-link {
    composes: header-link;
}
.header-all-link {
    composes: header-link;
}
